<div class="container-fluid" ng-controller="PhotoController">
    <section class="login">
        <div data-ng-show="!authentication.user">
            <a href="/signup">Signup</a>
            <a href="/signin">Signin</a>
        </div>
        <div data-ng-show="authentication.user">
            <h3>Hello <span data-ng-bind="authentication.user.fullName"></span></h3>
            <a href="/signout">Signout</a>
        </div>
    </section>
    <div id="photosContainer">
        <div class="photoItem" ng-repeat="photo in photos">
            <img class="listPhoto" ng-click="setPhoto(photo._id)"
                 ng-src="/images/{{photo.filename}}" />
        </div>
    </div>
    <div>
        <div id="photoContainer">
            <p class="imageTitle">{{photo.title}}</p>
            <img class="mainPhoto"
                 ng-src="/images/{{photo.filename}}" />
        </div>
        <div id="photoComments"
             ng-init="addComment=false;replySubject='';replyBody=''">
            <div class="comment"
                 ng-include="'/photos/views/photos-comment-thread.client.view.html'">
            </div>
        </div>
    </div>
    <div class="uploadForm">
        <form name="uploadForm">
            <fieldset>
                <legend>Upload Photo</legend>
                <div class="form-group">
                    <label for="photoInput">Photo:</label>
                    <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile" id="photoInput">
                    <p class="help-block" ng-show="uploadForm.file.$error.required">*required</p>
                    <p class="help-block" ng-show="uploadForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</p>
                </div>
                <img ng-show="uploadForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
                <button ng-click="picFile = null" ng-show="picFile" class="btn">Remove</button>
                <button ng-disabled="!uploadForm.$valid" ng-click="uploadPic(picFile)" class="btn btn-default">Submit</button>
                <div class="progressDiv">
                    <span class="progress" ng-show="picFile.progress >= 0">
                        <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                    </span>
                    <br>
                    <span ng-show="picFile.result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </div>
            </fieldset>
        </form>
    </div>
    <div data-ng-show="error">
        <strong data-ng-bind="error"></strong>
    </div>
</div>